<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= locals.title %></title>
    </head>
    <body>
        <div class="p-1">
            <h1 class="fw-bold"><%= locals.title %></h1>
            <p><%= locals.description %></p>
        </div>

        <% if (users) { %>
        <ul class="p-1">
            <% users.forEach(user => { %>
            <li class="bg-light p-1 my-2 mx-1">
                <p class="px-2 mb-0">
                    Item found for registration ID:
                    <b class="text-danger"><%= user.billId %></b>
                    <br />
                    Owner:
                    <b class="text-danger"><%= user.user.firstName %></b>
                    <b class="text-danger"><%= user.user.middleName %></b>
                    <b class="text-danger"><%= user.user.lastName %></b>
                    <br />
                    <a href="/bill/<%= user.billId %>">View Item Details</a>
                </p>
            </li>
            <% }); %>
        </ul>
        <% } else { %>
        <p class="text-danger text-center">No result found!</p>
        <% } %>
    </body>
</html>
